<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>JS Bin</title>

<style>
  article, aside, figure, footer, header, hgroup,
  menu, nav, section { display: block; }
</style>

  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div id="res" ></div>



  <canvas id="myCanvas" width="200px" height="100px">
  Your browser does not support the HTML5 canvas tag.</canvas>

  <form action="/action_page" method="post">
    <input type="text" name="fname"><br>
      <textarea id="inptxt" name="inputtext">1010101</textarea>
      <br>
    <input type="submit" value="Submit">
  </form>




      <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script src="js/index.js"></script>
</body>
</html>
